<h1>{{title}}</h1>
<div class='message-board'>
  <h2><a href="/new">Add message!</a></h2>
  {{#each messages }}   
    <li class="user">{{user}}</li>
    <li>{{text}}</li>
    <li class="added">Date : {{added}}</li>
    <hr>
  {{/each}}
  </div>
</ul>
