<h2><a href="/new">Form</a></h2>
<h1>{{title}}</h1>
  {{#each messages}}
    <li>UserName : {{user}}</li>
    <li>Message : {{text}}</li>
    <li>Date Added : {{added}}</li>
    <hr>
  {{/each}}
</ul>
